<a href="https://colab.research.google.com/github/aesnin12/CSMODELProject/blob/main/CSModel_Machine_Project_Game_Success_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset Description

### Analyzing game success criteria using [Video Game Sales and Ratings ](https://www.kaggle.com/datasets/kendallgillies/video-game-sales-and-ratings?resource=download)

##### This study uses the Video Game Sales and Ratings Dataset by VGChartz, which contains information on over 12,080 games. Each record represents a single game and includes data such as title, release date, price, user reviews, playtime statistics, and developer or publisher details. The dataset enables analysis of what factors contribute to a game’s success in terms of ownership, playtime, and ratings.

##### The data collection process of this dataset was used with the Steam Web API and SteamSpy, with data collected through a custom scraper that retrieved all publicly available game metadata. Only official games (not DLCs or apps) were included. Implications are applied such as

*   Data reflects publicly available information, so metrics like ownership are estimates.
*   The dataset represents a snapshot in time, and values such as reviews and playtime may change.
*   Some variables contain missing or inconsistent values, which must be handled carefully to ensure fair comparisons.

##### The dataset structure is stored as a CSV file which describes row as a singl Steam game and column as specific attribute or variable (e.g., price, owners, playtime, rating)

### Variable Descriptions of the dataset

| Variable | Description |
|-----------|-------------|
| Variable          | Description                                               |
| ----------------- | --------------------------------------------------------- |
| `Name`            | Title of the video game                                   |
| `Platform`        | The gaming platform (e.g. Wii, NES, PS4)                  |
| `Year_of_Release` | Year when the game was released                           |
| `Genre`           | Genre (category) of the game (e.g. Sports, Racing)        |
| `Publisher`       | Company that published the game                           |
| `NA_Sales`        | Sales in North America (in millions of units)             |
| `EU_Sales`        | Sales in Europe (in millions of units)                    |
| `JP_Sales`        | Sales in Japan (in millions of units)                     |
| `Other_Sales`     | Sales in the rest of the world (in millions of units)     |
| `Global_Sales`    | Total worldwide sales (in millions of units)              |
| `Critic_Score`    | Average critic review score (typically 0–100)             |
| `Critic_Count`    | Number of critic reviews used to compute the critic score |
| `User_Score`      | Average user review score (typically on a 0–10 scale)     |
| `User_Count`      | Number of user reviews used to compute the user score     |
| `Developer`       | Studio or company that developed the game                 |
| `Rating`          | Age/content rating (e.g. ESRB ratings: E, T, M, etc.)     |

## Dataset Cleaning

In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [106]:
import kagglehub
import os

# Download latest version
path = kagglehub.dataset_download("kendallgillies/video-game-sales-and-ratings")

print("Path to dataset files:", path)

df = pd.read_csv(os.path.join(path, "Video_Game_Sales_as_of_Jan_2017.csv"))
df.head()

Using Colab cache for faster access to the 'video-game-sales-and-ratings' dataset.
Path to dataset files: /kaggle/input/video-game-sales-and-ratings

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E
4,Pokemon Red/Pokemon Blue,G,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17416 entries, 0 to 17415
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             17416 non-null  object
 1   Platform         17416 non-null  object
 2   Year_of_Release  17408 non-null  float64
 3   Genre            17416 non-null  object
 4   Publisher        17415 non-null  object
 5   NA_Sales         17416 non-null  float64
 6   EU_Sales         17416 non-null  float64
 7   JP_Sales         17416 non-null  float64
 8   Other_Sales      17416 non-null  float64
 9   Global_Sales     17416 non-null  float64
 10  Critic_Score     8336 non-null   float64
 11  Critic_Count     8336 non-null   float64
 12  User_Score       7798 non-null   float64
 13  User_Count       7798 non-null   float64
 14  Rating           10252 non-null  object
dtypes: float64(10), object(5)
memory usage: 2.0+ MB

In [108]:
df.shape[0]

17416

In [109]:
df['User_Score'] = pd.to_numeric(df['User_Score'], errors='coerce')
df['Critic_Score'] = pd.to_numeric(df['Critic_Score'], errors='coerce')
df['Year_of_Release'] = pd.to_numeric(df['Year_of_Release'], errors='coerce')

df = df.dropna(subset=['Global_Sales', 'Critic_Score', 'User_Score', 'Year_of_Release'])

In [110]:
df.isnull().sum()

Name                0
Platform            0
Year_of_Release     0
Genre               0
Publisher           0
NA_Sales            0
EU_Sales            0
JP_Sales            0
Other_Sales         0
Global_Sales        0
Critic_Score        0
Critic_Count        0
User_Score          0
User_Count          0
Rating             79
dtype: int64

In [111]:
df.shape[0]

7191

In [112]:
platform_counts = df["Platform"].value_counts(dropna=False)
print(platform_counts)

Platform
PS2     1169
X360     892
PS3      797
PC       779
X        587
Wii      494
DS       473
PSP      401
GC       363
PS4      265
GBA      249
XOne     175
3DS      162
PS       157
PSV      125
WiiU      89
DC        14
Name: count, dtype: int64

##### Make platforms in each perspective company (Playstation, Xbox, Nintendo, PC, or Other)

In [113]:
platform_groups = {
    "PlayStation": ["PS", "PS2", "PS3", "PS4", "PSP", "PSV"],
    "Xbox": ["X", "X360", "XONE"],
    "Nintendo": ["NES", "SNES", "N64", "GC", "WII", "WIIU", "GBA", "DS", "3DS", "G"],  # G = Game Boy
    "PC": ["PC"],
    "Sega": ["GEN", "SAT", "DC", "SCD", "GG"],
    "Atari": ["2600"],
    "NEC": ["TG16", "PCFX"],
    "SNK": ["NG"],
    "Bandai": ["WS"],
    "Panasonic": ["3DO"],
}

# Clean and standardize platform names
df["Platform"] = df["Platform"].astype(str).str.strip().str.upper()

# Function to categorize each platform
def categorize_platform(p):
    for group, names in platform_groups.items():
        if p in names:
            return group
    return "Other"

# Apply the grouping and overwrite the column
df["Platform"] = df["Platform"].apply(categorize_platform)

##### Replace RP (Rating Pending) to just none.

In [114]:
df['Rating'].replace('RP', 'No Rating', inplace=True)
df['Rating'].fillna('No Rating', inplace=True)

/tmp/ipython-input-127132537.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].replace('RP', 'No Rating', inplace=True)
/tmp/ipython-input-127132537.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna('No Rating', inplace=True)

## Exploratory Data Analysis

#####

In [115]:
df.to_csv("Video_Game_Sales_Current.csv", index=False)